<div class="container animated fadeIn pdn-top-20">

    <div class="row">
      <hr>
      <div class="col-sm-12" id="parent">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.014761161704!2d-74.04243678568832!3d40.71769154520625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c250ae11a66e7d%3A0x99c0ea0dfd14c76a!2s270+Marin+Blvd%2C+270+County+Rd+624%2C+Jersey+City%2C+NJ+07302!5e0!3m2!1sen!2sus!4v1529262412588" width="200" height="260" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
  
        <div class="col-sm-6">
          <form action="form.php" class="contact-form" method="post">
    
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
              </div>
          
          
              <div class="form-group form_left">
                <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
              </div>
          
            <div class="form-group">
                 <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
            </div>
            <div class="form-group">
            <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
            <br>
              <button class="btn btn-default btn-send"> <span class="glyphicon glyphicon-send"></span> Send </button>
            </div>
           </form>
        </div>
      </div>
    </div>
  
  </div>